/* Sidebar MicroNews Starts */

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* close commented backslash hack */

#micro-news {
	width: 99%;
	height: auto;
	border: 0px solid red;
	overflow: hidden;
	margin-bottom: 5px;


	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

#micro-news .head {
	width: 100%;
	background: url(../img/black-stripe.gif);
	border-top: 2px solid #CCC;
	padding: 0;
	margin: 0;
	position: relative;
}

#micro-news .hiddensanta {
	background-image: url(../img/santa-hat-icon.png);
	width: 20px;
	height: 12px;
	position: absolute;
	top: 5px;
	left: 0;
	display: inline-block;
	z-index: 5;
	transform: rotate(307deg);
	-webkit-transform: rotate(307deg);
	-moz-transform: rotate(307deg);
	-o-transform: rotate(307deg);
	-ms-transform: rotate(307deg);
}

#micro-news .head strong {
	color: white;
	padding: 7px 20px 7px 20px;
	background: #808080;
	display: inline-block;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 13px;

	height: 100%;
}

#micro-news .data-holder {
	opacity: 1;
}

#micro-news .wrapNews {
	width: 99%;
	padding: 2px 2px 20px 2px;
	border-left: 4px solid transparent;
	min-height: 50px;
	position: relative;
}

#micro-news .wrapNews .title {
	color: #0066cc;
	font-size: 15px;
	font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;
	margin-top: 0px;
	margin-bottom: 2px;
}

#micro-news .wrapNews .text {
	padding-bottom: 20px;
	position: relative;
}

#micro-news .wrapNews .postedOn {
	font-size: 10px;
	border-bottom: 2px solid #CCC;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#micro-news .wrapNews .link {
	position: absolute;
	right: 5px;
	bottom: 2px;
	padding: 2px;
	font-family: 'sans-serif', Arial;
}

#micro-news .wrapNews .link:hover {
	background-color: #8bbf36;
}

#micro-news .wrapNews .clean:hover {
	background-color: transparent;
}

#micro-news .wrapNews .link a {
	color: #8bbf36;
}

#micro-news .wrapNews .link a:visited {
	color: #8bbf36;
}

#micro-news .wrapNews .link a:hover {
	color: black;
}

/*#micro-news-more-link{
	padding:10px;
	border:1px solid #CCC;
}
#micro-news-more-link:hover{
	background-color:#8bbf36;
}*/

#micro-news .load-nav {
	width: 100%;

	font-family: 'sans-serif', Arial;
	font-variant: small-caps;

}

#micro-news .load-nav .loadMore,
#micro-news .load-nav .loadHome {
	width: 40%;
	padding: 2px;
	cursor: pointer;
	border-bottom: 1px solid #552369;

	-webkit-transition: border-color 200ms ease;
	-moz-transition: border-color 200ms ease;
	-o-transition: border-color 200ms ease;
	transition: border-color 200ms ease;
}

#micro-news .load-nav .loadMore {
	float: right;
	text-align: right;
	visibility: visible;
}

#micro-news .load-nav .loadHome {
	float: left;
	text-align: left;
	visibility: hidden;
}

#micro-news .load-nav .loadMore:hover,
#micro-news .load-nav .loadHome:hover {
	border-color: #CCC;
}

/* ------------------------------------------Admin starts ----*/
#micro-news-board .wrapNews {
	width: 99%;
	padding: 2px 2px 10px 2px;
	min-height: 50px;
	position: relative;
	border-left: 2px solid #F2EE45;
}

#micro-news-board .wrapNews:hover {
	border-left: 2px solid #9e3735;
}

#micro-news-board .wrapNews .title {
	color: #0066cc;
	font-size: 15px;
	font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;
	margin-top: 0px;
	margin-bottom: 2px;
	display: inline-block;
}

#micro-news-board .wrapNews .text {
	padding-bottom: 10px;
	position: relative;
}


#micro-news-board .wrapNews .clean:hover {
	background-color: transparent;
}

#micro-news-board .editB {
	float: right;
	width: 70px;
	position: absolute;
	top: 0px;
	right: 45px;
}

#micro-news-board .closeB {
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	background: #21759b;
	visibility: hidden;

	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;

	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

#micro-news-board .closeB:hover {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#mirco-news-board .container-admin-meta-link {
	position: relative;
}

#update-micro-news {
	border-top: 2px solid #565656;
}

#update-micro-news .row {
	width: 100%;
	padding: 5px;
}

#update-micro-news .row label {
	display: block;

}

#update-micro-news input[type=text] {
	width: 400px;
	border: 2px solid black;
}

#update-micro-news select {
	width: 400px;
	border: 2px solid black;
}

#update-micro-news textarea {
	min-width: 400px;
	min-height: 80px;
	border: 2px solid black;
}


/*pagination*/
.micro-news-post-nav {
	padding: 2px;
	margin: 0;
	font-size: 15px;
	line-height: 20px;
}

.micro-news-post-nav li a {
	text-decoration: none;
}

.micro-news-post-nav li {
	padding: 2px 10px 2px 10px;
	float: left;
	border-bottom: 2px solid #888888;
	border-top: 2px solid #888888;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	margin-right: 5px;
}

.micro-news-post-nav li:hover {
	border: 2px solid #888888;
}

/* - add new - */

#add-micro-news .row {
	width: 100%;
	padding: 15px;
	margin-bottom: 5px;
	border-left: 3px solid #F25555;
}

#add-micro-news label {
	display: block;
	font-size: 18px;
}

#add-micro-news input[type=text] {
	min-width: 400px;
	border: 2px solid black;
}

#add-micro-news select {
	width: 400px;
	border: 2px solid black;
}

#add-micro-news textarea {
	min-width: 400px;
	min-height: 80px;
	border: 2px solid black;
}

#add-micro-news input[type=submit] {
	width: 100px;
}

#micro-news-lang-buyaredbull {
	margin-top: 100px;
	padding: 2px;
	width: 200px;
	font-size: 10px;
	border-left: 3px solid #8bbf36;
}

/* - config - */
#mirco-news-config .options {
	padding: 5px;

	margin-bottom: 5px;
	border-left: 3px solid #F25555;
}

#mirco-news-config .options label {
	min-width: 20%;
	display: inline-block;
}

/* ----Admin ends ----*/


/* Sidebar MicroNews Ends */